@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Playfair Display';
	src: url('/public//Playfair_Display//PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');

}
@font-face {
	font-family: 'Open sans';
	src: url('/public/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}