@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Playfair Display';
	src: url('/Playfair_Display//PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');

}
@font-face {
	font-family: 'Open sans';
	src: url('/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	src: url('/muli/Muli.ttf') format('truetype');
}
.custom-text{
	font-family: 'Muli', sans-serif;
	line-height: 1.6;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000; /* Atur z-index agar navbar muncul di atas konten lain */
  }
  html {
	scroll-behavior: smooth;
  }